html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-nav, .title-main, #title-style {
  font-weight: 800;
  color: transparent; 
  font-family: 'Barlow Condensed', sans-serif;
  background:  url('../img/stars-edited-v3.jpg');
  background-position: 40% 50%;
  -webkit-background-clip: text;
  background-clip: text;
  letter-spacing: 2px;
}

/* Navigation */

nav {
  display: block;
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  background-color: white;
  height: 60px;
}

nav > ul {
  display: flex;
  align-items: center;
  font-family: 'Archivo Narrow', sans-serif;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav > ul > li {
  display: block;
  float: left;
  padding-right: 16px;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 6px;
}

nav a {
  color: rgb(91, 0, 128);
}

nav > div {
  float: left;
}

.title-nav, #title-style {
  font-size: 35px;
  background-size: 250px 150px;
  letter-spacing: 6px;
  line-height: 56px;
  padding-left: 10px;
}

/*Title Page*/

.title-main {
  font-size: 130px;
  background-size: 400px 250px;
  position: relative;
  text-align: center;
  line-height: 100px;
  letter-spacing: 10px;
  padding-bottom: 20px;
  z-index: -999;
}

.subtitles {
  display: block;
  font-family: 'Archivo Narrow', sans-serif;
  letter-spacing: 6px;
  text-align: center;
  text-transform: uppercase;
}

.subtitles a {
  color: rgb(91, 0, 128);
}

.link:hover {
  color: rgb(150, 150, 150);
  cursor: pointer;
}

.link:link {
  text-decoration: none;
}

.link:active {
  color: darkslateblue;
}

/*Pages*/

p {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: 500;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 12px;
  line-height: 30px;
}


h3 {
  font-family:'Alegreya Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 28px;
  padding-right: 50px;
  padding-left: 50px;
}

#page-compositor, #page-photographer {
  display: none;
}

.portfolio-icon {
  display: block;
  margin: 1rem auto;
  height: 6rem;
}

/* Compositor Page Setup */

.background-img {
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30rem;
}

.snake {
  background-image: url('../img/VFX/snake-closed-mouth.jpg');
  background-color: rgb(9, 8, 12);
  background-position-y: -80px;
  background-position-x: -240px;
}

.set-ext {
  background-image: url('../img/VFX/set-extension.png');
  background-size: 100%;
  background-position-y: -152px;
}

.logo-container {
  letter-spacing: 50px;
  filter: grayscale(100%) contrast(87%) brightness(117%);
  padding: 10px;
}

.logo-container:hover {
  filter: none;
  transition-timing-function: ease-in-out;
} 

.compositor-container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto;
  text-align: center;
}

#comp-column-1 {
  grid-column-start: 1;
  padding: 80px;
}

#comp-column-2 {
  grid-column-start: 2;
  padding: 80px;
} 

.comp-row-1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.comp-row-2 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.comp-row-3 {
  grid-row-start: 3;
}

.comp-row-4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.comp-row-5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
}

#comp-center-text {
  padding: 0px 200px;
}


/* Photography Page Setup */

.page-content {
  width: 100%;
  padding-top: 3rem;
  text-align: center;
}

#topBtn {
  background-color: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 94%;
}

#topBtn:hover {
  filter: invert(100%);
  height: 0px;
}


.column {
  max-width: 32.5%;
  flex: 32.5%;
  padding: 6px;
}

.column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
}

.row {
  display: flex;
}

.column > a:focus {
  outline: none;
}


/* Hobbyist Page Setup */

.hobby-container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  text-align: center;
}

#hobby-column-1 {
  grid-column-start: 1;
  padding: 80px;
}

#hobby-column-2 {
  grid-column-start: 2;
  padding: 80px;
} 

.hobby-row-1 {
  grid-row-start: 1;
}

.hobby-row-2 {
  grid-row-start: 2;
}

.hobby-row-3 {
  grid-row-start: 3;
}

.photo-di {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-di .hover {
  display: none;
}

.photo-di:hover .hover {
  display: block;
}

.photo-di:hover .normal {
  display: none;
}

/* About Me Page Setup */

.about-container {
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  display: grid;
  grid-template-columns: 40% 30% 30%; 
  grid-template-rows: auto auto; 
}

#about-column-1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

#about-column-1 img {
  width: 100%;
}

#about-column-2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

#about-column-3 {
  grid-column-start: 2;
}

#about-column-4 {
  grid-column-start: 3;
}

.about-row-1 {
  grid-row-start: 1;
  width: 100%;
}

.about-row-2 {
  grid-row-start: 2;
  width: 100%;
}

.large-font {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 175px;
  font-weight: bolder;
  color: rgb(133, 21, 58);
  letter-spacing: 11px;
  line-height: 170px;
  margin: 0;
}

.fancy-font {
  font-family: 'Italiana', cursive;
  font-size: 25px;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: 6px;
  line-height: 45px;
  margin: 0;
  color: rgb(95, 38, 105);
}

#artist-logos {
  filter: opacity(75%)
}

#artist-logos:hover {
  filter: grayscale(75%)
}

#about-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 3em;
}

/* CSS Styling min-width 2300px bigger than 15 inch laptop */

@media screen and (min-width: 2300px) {
  .fancy-font {
    font-size: 42px;
    letter-spacing: 10px;
    line-height: 65px;
  }

  h3 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 13px;
  }

  p {
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 4px;
  }

  .title-nav, #title-style {
    font-size: 82px;
    letter-spacing: 12px;
    line-height: 70px;
    padding: 10px;
  }

  .title-nav, .title-main, #title-style {
    background-position: 50% 50%;
  }

  nav {
    padding: 25px 0px;
  }

  nav > ul > li { 
    letter-spacing: 13px;
    font-size: 32px;
    padding-top: 40px;
  }

  .title-main {
    font-size: 180px;
    line-height: 135px;
    letter-spacing: 18px;
  }

  .subtitles {
    letter-spacing: 10px;
    font-size: 25px;
  }

  .compositor-container {
    padding-top: 7rem;
  }

  .background-img {
    height: 40rem;
  }

  .snake {
    background-position-y: -25px;
    background-position-x: 100px;
  }

  .set-ext {
    background-position-y: -230px;
  }

  .page-content {
    padding-top: 8rem;
  }

  .about-container {
    padding-top: 13rem;
  }

  #about-column-1 img {
    padding: 15px 0px;
  }

  .hobby-container {
    padding-top: 8rem;
  }

}

/* CSS Styling max-width 500px iPhone X and lower */

/* @media only screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .title-nav, #title-style {
    font-size: 80px;
    letter-spacing: 15px;
    line-height: 75px;
  }
} */
